// Body
$body-bg: #f8fafc;

$primary: #DDA916;
$secondary: #311545;
$white: #fff;
$light-easy :#EBEBEB;
$light-medium : #5E5E5E;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
